:focus {
    outline: none;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    
}

body {
    height:100vh;
    margin: 0;
    align-content: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #131516;
    color: #d8d4cf

}